@charset "UTF-8";
* {
  font: "微軟正黑體";
  position: relative; }

.navbar {
  height: 70px;
  padding: 0 20px;
  background-color: #00112c; }
  .navbar .navbar-brand {
    padding: 0;
    width: 20%; }
    .navbar .navbar-brand img {
      width: 100%; }
  .navbar .navbar-collapse {
    float: right; }
    .navbar .navbar-collapse .navbar-nav .nav-item {
      padding: 0 20px; }
      .navbar .navbar-collapse .navbar-nav .nav-item:hover {
        background-color: #335a99; }
      .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
        color: white;
        font-weight: bold; }

.reviewsSection {
  margin-top: 0px; }
  .reviewsSection .carousel-inner {
    margin: 0 auto;
    width: 100%; }
    .reviewsSection .carousel-inner .carousel-item {
      height: 500px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
  .reviewsSection .carousel-indicators li {
    border-radius: 50%;
    cursor: pointer; }
  .reviewsSection .carousel-control-prev .carousel-control-prev-icon {
    position: absolute;
    left: 0; }
  .reviewsSection .carousel-control-next .carousel-control-next-icon {
    position: absolute;
    right: 0; }

#carouselImage1 {
  background-image: url("../img/home/carousel1.jpg"); }

#carouselImage2 {
  background-image: url("../img/home/carousel2.jpg"); }

#carouselImage3 {
  background-image: url("../img/home/carousel3.jpg"); }

.services-area1,
.intro {
  padding: 100px 20px;
  padding-bottom: 0; }
  .services-area1 .section-tittle,
  .intro .section-tittle {
    position: relative; }
    @media (max-width: 575px) {
      .services-area1 .section-tittle,
      .intro .section-tittle {
        margin-bottom: 0px; } }
    .services-area1 .section-tittle .front-text,
    .intro .section-tittle .front-text {
      position: relative;
      z-index: 2; }
      .services-area1 .section-tittle .front-text h2,
      .intro .section-tittle .front-text h2 {
        color: #cf8d2e;
        font-size: 70px;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
        font-family: "Teko", sans-serif; }
        @media (max-width: 575px) {
          .services-area1 .section-tittle .front-text h2,
          .intro .section-tittle .front-text h2 {
            font-size: 40px;
            line-height: 1.4; } }
        @media only screen and (min-width: 576px) and (max-width: 767px) {
          .services-area1 .section-tittle .front-text h2,
          .intro .section-tittle .front-text h2 {
            font-size: 40px;
            line-height: 1.4; } }
    .services-area1 .section-tittle span.back-text,
    .intro .section-tittle span.back-text {
      font-size: 140px;
      font-weight: 800;
      text-transform: uppercase;
      -webkit-text-stroke: 1px #e4e932;
      -webkit-text-fill-color: transparent;
      margin: 0;
      line-height: 1;
      position: absolute;
      transform: translateY(-114%);
      right: 0;
      left: 12px; }
      @media (max-width: 575px) {
        .services-area1 .section-tittle span.back-text,
        .intro .section-tittle span.back-text {
          font-size: 56px;
          transform: translateY(-136%); } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .services-area1 .section-tittle span.back-text,
        .intro .section-tittle span.back-text {
          font-size: 56px;
          transform: translateY(-136%); } }
      @media only screen and (min-width: 992px) and (max-width: 1200px) {
        .services-area1 .section-tittle span.back-text,
        .intro .section-tittle span.back-text {
          font-size: 127px; } }
    .services-area1 .section-tittle.section-tittle2 .front-text h2,
    .intro .section-tittle.section-tittle2 .front-text h2 {
      font-size: 100px; }
      @media (max-width: 575px) {
        .services-area1 .section-tittle.section-tittle2 .front-text h2,
        .intro .section-tittle.section-tittle2 .front-text h2 {
          font-size: 40px; } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .services-area1 .section-tittle.section-tittle2 .front-text h2,
        .intro .section-tittle.section-tittle2 .front-text h2 {
          font-size: 40px; } }
    .services-area1 .section-tittle.section-tittle2 span.back-text,
    .intro .section-tittle.section-tittle2 span.back-text {
      transform: translateY(-123%); }
      @media only screen and (min-width: 1200px) and (max-width: 1600px) {
        .services-area1 .section-tittle.section-tittle2 span.back-text,
        .intro .section-tittle.section-tittle2 span.back-text {
          font-size: 119px; } }
      @media only screen and (min-width: 1200px) and (max-width: 1440px) {
        .services-area1 .section-tittle.section-tittle2 span.back-text,
        .intro .section-tittle.section-tittle2 span.back-text {
          font-size: 119px; } }
      @media only screen and (min-width: 1441px) and (max-width: 1800px) {
        .services-area1 .section-tittle.section-tittle2 span.back-text,
        .intro .section-tittle.section-tittle2 span.back-text {
          font-size: 112px; } }
      @media (max-width: 575px) {
        .services-area1 .section-tittle.section-tittle2 span.back-text,
        .intro .section-tittle.section-tittle2 span.back-text {
          font-size: 56px;
          transform: translateY(-136%); } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .services-area1 .section-tittle.section-tittle2 span.back-text,
        .intro .section-tittle.section-tittle2 span.back-text {
          font-size: 56px;
          transform: translateY(-136%); } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .services-area1 .section-tittle.section-tittle2 span.back-text,
        .intro .section-tittle.section-tittle2 span.back-text {
          font-size: 117px;
          transform: translateY(-128%); } }
      @media only screen and (min-width: 992px) and (max-width: 1200px) {
        .services-area1 .section-tittle.section-tittle2 span.back-text,
        .intro .section-tittle.section-tittle2 span.back-text {
          font-size: 117px;
          transform: translateY(-118%); } }
    .services-area1 .section-tittle.section-tittle3 .front-text h2,
    .intro .section-tittle.section-tittle3 .front-text h2 {
      font-size: 70px; }
      @media (max-width: 575px) {
        .services-area1 .section-tittle.section-tittle3 .front-text h2,
        .intro .section-tittle.section-tittle3 .front-text h2 {
          font-size: 40px; } }
    .services-area1 .section-tittle.section-tittle3 span.back-text,
    .intro .section-tittle.section-tittle3 span.back-text {
      transform: translateY(-114%); }
      @media (max-width: 575px) {
        .services-area1 .section-tittle.section-tittle3 span.back-text,
        .intro .section-tittle.section-tittle3 span.back-text {
          font-size: 56px;
          transform: translateY(-136%); } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .services-area1 .section-tittle.section-tittle3 span.back-text,
        .intro .section-tittle.section-tittle3 span.back-text {
          font-size: 98px;
          transform: translateY(-131%); } }
    .services-area1 .section-tittle.section-tittle4 .front-text h2,
    .intro .section-tittle.section-tittle4 .front-text h2 {
      font-size: 70px;
      color: #fff; }
      @media (max-width: 575px) {
        .services-area1 .section-tittle.section-tittle4 .front-text h2,
        .intro .section-tittle.section-tittle4 .front-text h2 {
          font-size: 35px; } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .services-area1 .section-tittle.section-tittle4 .front-text h2,
        .intro .section-tittle.section-tittle4 .front-text h2 {
          font-size: 40px; } }
    .services-area1 .section-tittle.section-tittle4 span.back-text,
    .intro .section-tittle.section-tittle4 span.back-text {
      -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
      transform: translateY(-113%); }
      @media (max-width: 575px) {
        .services-area1 .section-tittle.section-tittle4 span.back-text,
        .intro .section-tittle.section-tittle4 span.back-text {
          font-size: 56px;
          transform: translateY(-129%); } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .services-area1 .section-tittle.section-tittle4 span.back-text,
        .intro .section-tittle.section-tittle4 span.back-text {
          font-size: 56px;
          transform: translateY(-130%); } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .services-area1 .section-tittle.section-tittle4 span.back-text,
        .intro .section-tittle.section-tittle4 span.back-text {
          font-size: 117px;
          transform: translateY(-118%); } }
      @media only screen and (min-width: 992px) and (max-width: 1200px) {
        .services-area1 .section-tittle.section-tittle4 span.back-text,
        .intro .section-tittle.section-tittle4 span.back-text {
          font-size: 117px;
          transform: translateY(-113%); } }
    .services-area1 .section-tittle.section-tittle6 .front-text h2,
    .intro .section-tittle.section-tittle6 .front-text h2 {
      font-size: 70px;
      color: #fff; }
      @media (max-width: 575px) {
        .services-area1 .section-tittle.section-tittle6 .front-text h2,
        .intro .section-tittle.section-tittle6 .front-text h2 {
          font-size: 40px; } }
    .services-area1 .section-tittle.section-tittle6 span.back-text,
    .intro .section-tittle.section-tittle6 span.back-text {
      -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
      transform: translateY(-113%); }
      @media (max-width: 575px) {
        .services-area1 .section-tittle.section-tittle6 span.back-text,
        .intro .section-tittle.section-tittle6 span.back-text {
          font-size: 56px;
          transform: translateY(-136%); } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .services-area1 .section-tittle.section-tittle6 span.back-text,
        .intro .section-tittle.section-tittle6 span.back-text {
          font-size: 83px;
          transform: translateY(-137%); } }

.services-area1 .single-service-cap {
  overflow: hidden; }
  .services-area1 .single-service-cap .service-img {
    overflow: hidden; }
    .services-area1 .single-service-cap .service-img img {
      width: 100%;
      transform: scale(1);
      -webkit-transition: all 0.5s ease-out 0s;
      -moz-transition: all 0.5s ease-out 0s;
      -ms-transition: all 0.5s ease-out 0s;
      -o-transition: all 0.5s ease-out 0s;
      transition: all 0.5s ease-out 0s; }
  .services-area1 .single-service-cap .service-cap {
    padding: 20px 30px 20px 30px;
    background: #fcfdff; }
    .services-area1 .single-service-cap .service-cap h4 {
      margin-bottom: 35px; }
      .services-area1 .single-service-cap .service-cap h4 a {
        color: #cf8d2e;
        font-size: 24px;
        font-weight: 700; }
        @media (max-width: 575px) {
          .services-area1 .single-service-cap .service-cap h4 a {
            font-size: 18px; } }
        .services-area1 .single-service-cap .service-cap h4 a:hover {
          color: #fbb034; }
  .services-area1 .single-service-cap .service-icon img {
    width: 100%; }

.single-service-cap:hover .service-img img {
  transform: scale(1.1); }

.single-service-cap:hover .more-btn i {
  color: #fff;
  background: #ff5f13; }

.more-btn {
  color: #161e46;
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-bottom: 10px; }
  .more-btn i {
    color: #161e46;
    background: transparent;
    width: 38px;
    height: 38px;
    display: inline-block;
    line-height: 38px;
    text-align: center;
    font-size: 15px;
    margin-left: 10px;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s; }
  .more-btn:hover {
    color: #161e46; }
    .more-btn:hover i {
      color: #fff;
      background: #ff5f13; }

.intro {
  padding: 100px 20px;
  padding-bottom: 0; }
